@page "/access-denied"
<h3>AccessDenied</h3>
<hr />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/img/access-denied.png" style="max-height:15rem"/>
                </div>
                <div class="text-center mt-3">
                    <span class="text-danger fw-bold fs-5">Nincs Hozzáférésed az oldal használatához!</span>
                </div>
            </div>
        </div>
    </div>
</div>
