@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bold">Üdvözöllek az oldalon!</h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span> <img src="/img/danger.png" style="max-height:5rem"/>
                            Nem vagy bejelentkezve! Az alábbi gombra kattintva ezt megteheted! <a href="/login" class="btn btn-primary">login</a>
                        </span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Felhasználó: @context.User.Identity.Name <br/> <a href="/logout" class="btn btn-primary"> logout</a></span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>